
ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


h1{
    text-align: center;
    padding-bottom: 2rem;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: system-ui;
    
}
.img{
    width: 20%;

}
.card {
    width: 18rem;
}

